{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Price of Share</th>
                <th>Number of Shares</th>
                <th>Date and Time</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
            <tr>
                <td>{{transaction["symbol"]}}</td>
                <td>{{"$" '%0.2f'| format(transaction["price"])}}</td>
                <td>{{transaction["quantity"]}}</td>
                <td>{{transaction["date_time"]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}